.flex {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin: auto;
  margin: 20px auto 50px;
  flex-wrap: wrap;
  .card {
    width: 220px;
    padding: 10px;
  }
}

main {
  width: 80%;
  margin: 0 auto;
  > h1 {
    font-size: 32px;
    margin: 30px auto;
  }
}
