@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
}

h1 {
  font-size: 22px;
  margin: 0;
}
h2 {
  font-size: 20px;
  margin: 0;
}
h3 {
  font-size: 18px;
  margin: 0;
}
h4 {
  font-size: 16px;
  margin: 0;
}
h5 {
  font-size: 14px;
  margin: 0;
}
h6 {
  font-size: 12px;
  margin: 0;
}
span {
  font-size: 10px;
  margin: 0;
}
button {
  border: none;
}

:root {
  --color-orange: #e38138;
  --color-black: #1e1e1e;
  --basic: #8a33fd;
  --secondary: #f6f6f6;
  --third: #3c4242;
  --lines: #bebcbd;
  --text-silver: #807d7e;
  --header-size: 50px;
}

body {
  margin: 0;
}
body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--basic); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
  border: 3px solid var(--basic); /* отступ вокруг бегунка */
}
a:active,
a:hover,
a {
  text-decoration: none;
}
