@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 22px;
  margin: 0;
}
h2 {
  font-size: 20px;
  margin: 0;
}
h3 {
  font-size: 18px;
  margin: 0;
}
h4 {
  font-size: 16px;
  margin: 0;
}
h5 {
  font-size: 14px;
  margin: 0;
}
h6 {
  font-size: 12px;
  margin: 0;
}
span {
  font-size: 10px;
  margin: 0;
}
button {
  border: none;
}
