.productCard {
  width: 180px;
  height: 320px;
  padding: 20px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);

  .img {
    position: relative;
    >img {
      margin: auto;
      height: 150px;
    }
  }

  .favorite {
    position: absolute;
    right: 0px;
    img {
      border: 1px solid var(--color-orange);
      border-radius: 50%;
      width: 18px;
      padding: 2px;
      cursor: pointer;
    }
  }

  .title {
    width: 100%;
    text-align: left;
  }

  .rating {
    margin: 10px 0;
    text-align: left;
    display: flex;
    img {
      width: 18px;
    }
  }

  .description {
    text-align: left;
    font-size: 12px;
  }

  .footerCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .price {
      font-weight: bold;
    }

    .btn {
      button {
        padding: 2px 8px;
        border: 1px solid var(--color-black);
        border-radius: 20px;
        background: none;
        font-size: 14px;
      }
    }
  }
}
